
// Body
// ============================================================================

* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	position: relative;
	overflow: initial;
}