/**
 * Global
 */

* {
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	position: relative;
	overflow: initial;
}

body:not(.loaded) {
	overflow: hidden;
}


/**
 * Utiity
 */

.hide {
	display: none !important;
}

.show-block {
	display: block !important;
}

.a11y {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	white-space: nowrap; /* added line */
	width: 1px;
}


/**
 * Sections
 */

main {
	display: flex;
	min-height: 100vh;
	min-width: 98vw;
}

.lookup-item-container {
	flex-grow: 2;
}


/**
 * Aside
 */

aside {
	/* display: none !important; */
	background-color: rgb(63, 63, 63);
	flex-shrink: 0;
	max-height: 100vh;
	overflow-y: auto;
	padding: 10px;
	position: sticky;
	right: 0;
	top: 0;
	width: 200px;
}


/**
 * Loading
 */

.screen-cover {
	height: 100vh;
	width: 100vw;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide-until-loaded {
	display: none;
}

.loaded .hide-until-loaded {
	display: block;
}

.loaded .show-until-loaded {
	display: none;
}


/**
 * Text
 */

h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: 10px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-mono {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 0.9em;
}


/**
 * Items Table
 */

table {
	width: 100%;
}

/* thead */

thead tr {
	border-top: 0;
}

th {
	background-color: hsl(0, 0%, 87%);
	box-shadow: 0 10px 10px hsla(0, 0%, 33%, 0.5);
	font-weight: 700;
	position: sticky;
	text-align: left;
	top: 0;
}

/* thead & tbody */

th,
td {
	border-right: 1px solid hsl(0, 0%, 100%);
	padding: 2px 5px;
	vertical-align: middle;
}

/* tbody */

td:last-child {
	border-right: 0;
}

tr {
	border-top: 1px solid hsl(0, 0%, 100%);
}

tr:nth-child(even) {
	background-color: hsl(0, 0%, 89%);
}


/**
 * Table Display Options
 */

.show-cell-padding th,
.show-cell-padding td {
	padding: 10px;
}


/**
 * Column Visibility
 *
 * @TODO: Use data attributes instead
 */

/* Hidden by default */

.item-icon-id,
.item-index {
	display: none;
}

/* Shown by default */

.item-icon,
.item-id,
.item-name,
.item-type,
.item-max,
.item-shop,
.item-bools,
.item-heal,
.item-info {
	display: table-cell;
}

.show-item-icon .item-icon,
.show-icon-id .item-icon-id,
.show-item-index .item-index,
.show-item-index .item-name,
.show-item-id .item-id,
.show-item-type .item-type,
.show-item-max .item-max,
.show-item-shop .item-shop,
.show-item-bools .item-bools,
.show-item-heal .item-heal,
.show-item-info .item-info {
	display: table-cell;
}

.hide-item-icon .item-icon,
.hide-icon-id .item-icon-id,
.hide-item-index .item-index,
.hide-item-name .item-name,
.hide-item-id .item-id,
.hide-item-type .item-type,
.hide-item-max .item-max,
.hide-item-shop .item-shop,
.hide-item-bools .item-bools,
.hide-item-heal .item-heal,
.hide-item-info .item-info {
	display: none;
}


/**
 * Icons
 */

.item-icon {
	max-width: 140px; /* large icon width + padding */
	min-height: 35px;
}

.item-icon-img {
	display: block;
	height: 30px;
	/* height: auto; */
	margin: 0 auto;
	max-width: 30px;
	width: 30px;
}

.show-large-icons .item-icon-img {
	height: 50px;
	max-width: 50px;
	width: 50px;
}


/**
 * Icon Zoom
 */

body.loaded .item-icon-zoom {
	display: none;
}

.item-icon-zoom {
	background-color: hsl(0, 0%, 100%);
	display: none;
	position: relative;
	z-index: 1;
}

.item-icon-zoom .item-icon-img {
	background-color: hsl(0, 0%, 87%);
	border-radius: 5px;
	border: 1px solid hsl(0, 1%, 62%);
	box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.6);
	height: 128px;
	left: 30px;
	margin: 5px;
	max-width: 128px !important;
	position: absolute;
	top: 25px;
	width: 128px;
}

.item-icon-cell:hover .item-icon-zoom {
	display: inline;
}



/**
 * Boolean Cells
 */

.bool-th {
	min-width: 25px;
}

.bool-bg-true {
	background-color: hsla(128, 42%, 43%, 0.192);
}

.bool-bg-false {
	background-color: hsla(0, 42%, 38%, 0.192);
}

.bool-emoji {
	display: none;
}

.show-emoji-bools .bool-emoji {
	display: block;
}


/**
 * Info Cells
 */

.item-info code {
	display: inline-block;
	margin-left: 2px;
	background-color: hsl(0, 0%, 100%);
	border: 1px dotted hsl(0, 0%, 33%);
	padding: 0 2px;
}

.has-toggle-br br {
	display: none;
}

.show-br .has-toggle-br br {
	display: initial;
}


/**
 * Toggle Rows
 */

.toggles-row {
	color: hsl(0, 0%, 100%);
	display: flex;
	flex-wrap: wrap;
}

.toggles-row + .toggles-row {
	margin-top: 20px;
}


/**
 * Toggle Row Widths
 */

.toggles-row--thirds .toggle-container {
	margin-right: 0;
	width: 33%;
}

.toggles-row--thirds .toggle-btn {
	width: 100%;
}

/* first in row of 3rds */
.toggles-row--thirds .toggle-container:nth-child(3n-4) {
	padding-left: 0;
	padding-right: 4px;
}

/* last in row of 3rds */
.toggles-row--thirds .toggle-container:nth-child(3n+1) {
	padding-left: 4px;
	padding-right: 0;
}


/**
 * Toggle Containers
 */

.toggle-container--wide,
.toggle-container--wide .toggle-btn {
	width: 100%;
}


/**
 * Toggle Title
 */

.toggles-title {
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}


/**
 * Toggle Btns
 */

.toggle-btn {
	border-radius: 2px;
	border: 0;
	border: 2px solid transparent;
	color: hsla(0, 0%, 100%, 0.8);
	font-size: .9em;
	margin-bottom: 5px;
	padding: 5px 8px;
}

.toggle-btn:hover {
	box-shadow: inset 2px 2px hsl(0, 0%, 100%), inset -2px -2px hsl(0, 0%, 100%);
}

.toggle-btn-state--active {
	background-color: hsl(0, 0%, 39%);
}

.toggle-btn-state--inactive {
	background-color: hsla(0, 0%, 0%, 0.3);
    color: hsla(0, 0%, 100%, 0.6);
    opacity: 0.5;
}

/**
 * Toggle Icons
 */

.toggle-btn--hasicon {
	background-position: center;
	background-size: 70px;
	border-radius: 5px;
	height: 55px;
	width: 55px;
}

/**
 * Misc
 */

/* class added from url hash */
.row-scrolled-into-view {
	background-color: hsl(120, 18%, 81%) !important;
	color: hsl(120, 94%, 25%);
}

.aside-links {
	text-align: center;
}

.aside-links a {
	color: hsla(0, 0%, 100%, .6);
	display: block;
	padding: 3px;
	width: 100%;
	text-decoration: none;
}

.aside-links a:hover {
	text-decoration: underline;
	color: hsla(0, 0%, 100%);
}
